{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h1>About</h1>
    <p class="maintext">PirateHub is a distributor of Repack Data based in Myanmar. The purpose of PirateHub is to create digital freedom community. If you love the video games available at PirateHub, buy them and support the developers.</p>
    <div class="maincontainer">
        <h2>PirateHub Admins</h2>
        <div class="maincontentcontainer">
            <div class="admininfocontainer">
                <img class="adminimage" src="static/pirateozmandias.png">
                <p class="maincontainertext">Name - Ozmandias</p>
                <p class="maincontainertext">Address - Yangon</p>
                <p class="maincontainertext">Phone - N/A</p>
            </div>
            <div class="admininfocontainer">
                <img class="adminimage" src="static/piratealvinbackground.png">
                <p class="maincontainertext">Name - Alvin</p>
                <p class="maincontainertext">Address - Yangon</p>
                <p class="maincontainertext">Phone - N/A</p>
            </div>
            <div class="admininfocontainer">
                <img class="adminimage" src="static/pirateaungnaingoo.png">
                <p class="maincontainertext">Name - Aung Naing Oo</p>
                <p class="maincontainertext">Address - Yangon</p>
                <p class="maincontainertext">Phone - N/A</p>
            </div>
        </div>    
    </div>
    <p class="mainmessagetext">PirateHub website developed by PirateHub admins</p>
{% endblock %}