{% extends "layout.html" %}

{% block title %}
    Admin
{% endblock %}

{% block main %}
    <h1 id="adminintrotext">PirateHub Admin</h1>
    <p class="maintext">Welcome Admin {{adminname}}</p>
    <div class="maincontainer">
        <h2>Add new Repack Data</h2>
        <div class="formcontainer">
            <h2>Enter Repack Data Information</h2>
            <form action="/admin" method="post">
                <div class="form-group">
                    <input autocomplete="off" class="form-control inputbox" hidden name="adminid" value="{{adminid}}">
                </div>
                <div class="form-group">
                    <input autocomplete="off" class="form-control inputbox" name="dataname" placeholder="*Data Name" type="text">
                </div>
                <div class="form-group">
                    <input autocomplete="off" class="form-control inputbox" name="type" placeholder="*Type" type="text">
                </div>
                <div class="form-group">
                    <input autocomplete="off" class="form-control inputbox" name="price" placeholder="Price" type="text">
                </div>
                <div class="form-group">
                    <input autocomplete="off" class="form-control inputbox" name="size" placeholder="Size" type="text">
                </div>
                <button class="btn btn-primary" type="submit">Add Data</button> 
            </form>
        </div>
    </div>
{% endblock %}